.licencia{
    margin: auto;
    text-align:center; padding:8px;
}
form{
    width: 590px;
    padding:16px;
    margin:auto;
}
form input[type="submit"] {
    height: 40px;
    width: 400px;
    margin: auto;
    padding: 8px 16px;
    display:block;
    color:#fff;
    border: none;
    background-color:#5652FC;
    border-radius: 20px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"]{
    height: 47px;
    width:100%;
    padding:3px 10px;
    background: #E8EBFE;
    border: 1px solid #5652FC;
    margin:17px 0;
    display:inline-block;
    border-radius: 20px;
}

form input[type="submit"]:hover{
    cursor:pointer;
}