.licencia{
    margin: auto;
    text-align:center; padding:8px;
}
form input[type="submit"] {
   width: 100%;
    color:#fff;
    border: none;
    background-color:#5652FC;
    border-radius: 20px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"]{
    height: 35px;
    width:100%;
    padding:3px 10px;
    background: #E8EBFE;
    border: 1px solid #5652FC;
    margin:17px 0;
    border-radius: 20px;
}

form input[type="submit"]:hover{
    cursor:pointer;
}
