#footerContent{
    border-color: #2369FF;
}
.footerTextDireccion{
    text-align: center;
    font-size:15px
}
.footerAlign{
   align-content: end;
}
.imgSizeFooter{
    align-content: center;
    height: 28px;
    width: 28px;
}
.lineFooter{
    width: 1px;
    height: 200px;
    background-color: #5652FC;
}
.endBar{
height: 65px;
    background-color: #C0C0C0;
}