
.nav-link{
    color: white;

}
.header-hihg{
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
}
.header-button{
    height: 40px;
    background:#18123E;
    color: white;

}
.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
}
.navbarEdit{
    background-color: #18123E;
    padding-left: 6%;
}
