.Home{
    background-color: white;
}
.PositionHeader{
    position: -ms-device-fixed;
}
.Separator{
    height: 52px;
}
#promoHome{
    width: 100%;
    background-color:#18123E;
}
#cardPromo{
    border-color: #18123E;
   background-color: #18123E;
}
#buttonPromo{
    background-color: #EA1010;
    color:#FFFFFF;
    border-radius: 18px;
    border-color: #EA1010;
}
.imgPromo{
    margin-top: 20px;
    align-content: center;
    height: 230px;
    width: 370px;

}